<ion-tabs class="tabs-icon tabs-positive tabs-striped" ng-class="{'tabs-item-hide': hideTabs}">
    <!--Home Tab-->
    <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <!--Order Tab-->
    <ion-tab title="Order" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/order">
        <ion-nav-view name="tab-order"></ion-nav-view>
    </ion-tab>
    <!--Account Tab-->
    <ion-tab title="Account" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
</ion-tabs>